body {
  overflow-x: hidden;
  min-width: 450px;
  font-size: .85rem;
}
.wrapper > div {
  margin: 8px 0;
}
.buttons > button {
  display: block;
  margin: 3px 0;
  width: 100%;
}
.wrapper > p > [id] {
  display: block;
  width: 100%;
  line-height: 1.5em;
  max-height: 100px;
  overflow-y: auto;
}
.confirm {
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 50px;
  font-size: 1.5em;
}
.confirm-text {
  margin-bottom: 10px;
}
.confirm-buttons {
  margin-top: 10px;
  text-align: center;
}
.block {
  display: block;
}
label > code > strong {
  background: #ccc;
}